/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
    
.clear {
   clear: both;
}

ul{
    list-style-type:none;
}


header *{
 margin: 5px 5px 0 0;
 display: flex;
 color: black;
 display:block;
 text-decoration: none;
 justify-content: space-between;
}

nav ul{
    display: flex;
    text-decoration: none;
    justify-content: end;
}

nav li{
    margin-left: 3%;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a {
    text-decoration: none;
}

nav form input{
    text-decoration: none;
    width:100%;
}
#welcome{
    margin-right: 50%;
    padding: 5%;
}

#welcome h1{
    font-size: 4rem;
    width:40rem;
}

/*location button*/
#location{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
}

#search-location{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*Social media icons to orange*/
.fa-brands{
    color: orange;
}


/*social media numbers to black*/
#social-media a{
    color: black;
}

#social-media ul{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
}

#social-media li{
    margin-right: 20px;
}


#berries {
   background:url("https://cdn.glitch.global/959c5e4b-3d49-40ad-bbca-89032daa8ff6/first_bg.jpeg?v=1661474216507") no-repeat;
   background-size:cover;
   width: 100%;
   height: 600px;
  
   

   /*border: 1px solid red;
   -webkit-transform: rotate(720deg);
   -moz-transform: rotate(720deg);
   -o-transform: rotate(720deg);
   -ms-transform: rotate(720deg);
   transform: rotate(720deg);
   -moz-transform: scale(-1, -1);
   -o-transform: scale(-1,-1);
   -webkit-transform: scale(-1,-1);
   transform: scale(-1,-1);*/
}

/*ABOUT US SECTION*/
#about-us {
    background:url("Images/brooke-lark-2.jpg");
    background-size:cover;
    width: 100%;
    height: 1500px;
     margin-top: 5px;
    margin-bottom:  5px; 
    margin-left: 0%;
    margin-right: 0%; 
    padding:5%;
}

#discovermenu{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
}
/*ABOUT US SECTION END*/

.orderonline {
    padding:5%;
background-color: ghostwhite;

}


.cuisineimages{
    display:flex;
    width:100%;
    justify-content:space-around ;
    flex-wrap: wrap;
 
}
.menuImg {
   width: 300px;

      
}

.booktable{
display: flex;
flex-direction: column;
width:100%;
align-items: center;


    /* text-align-last: center; */

}

.hoursopen{
display: flex;
width:30%;
justify-content: space-between;
}

.timeopen{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}
.mondaytotuesday, .fridaytosunday{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

}


.tablebooking{
    color:orange;
 
}

#phone{
   display: flex;
   align-items:center;
}
.fa-phone {
    padding: 0;
}
/* .fa-solid{
    color:orange;
    width:30%;
    justify-content:center;
    display: flex;
flex-direction: column;
width:100%;
align-items: center;
} */
.fa-solid {
    color: orange;
}
.arrows, .fa-play {
    font-size: 40px;
}
.fa-chevron-left {
    margin-right: 6px;
}
.slideshowBtns {
    height: 500px;
    width: 600px;
    background: url("Images/bowloffruits.png") no-repeat center/80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.phonenumber{
    color:orange;
}

.callnow{
    display: flex;
align-items:center;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
}

.book{
    width: 600px;
    height: 600px;

}

#playbutton{
 text-align: center;
}

/* .fa-solid{
    text-align: center;
}  didn't center over image*/

.testimonials{
    color:orange;
    display: flex;
    align-items:center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.customername{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /* display: flex; */
    /* align-items:center; */
    /* font-size: 30px; */

}
.customerssay{   
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    /* padding: 10% 35% 10% 35%; */
    /* align-items:center; */
    /* font-size: 35px; */
    
}
.customerQuote { 
    width: 60%;
    text-align: center;
}
.customerImg{
   width:150px;
   height:150px; 
   border-radius: 50%;
  
}

#stars, #circles{ 
    display:flex;
    width:100%;
    justify-content: center ;
    /* flex-wrap: wrap; why isn't this working" stars should lay in a row  */
}

.fa-regular{
    color:orange;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;/*tod flip circles to a row */
}

#circles{ 
    margin-bottom: 5px;
    /* display: flex;  */
    /* flex-direction: row; */
    /* justify-content: flex-start;  not adjusting circles as class nor id */
}

.divicuisine1{
   text-align-last: center;
}

.divicuisine1 {
    padding:5%;
background-color: ghostwhite;
width: 100%;

}

#lowericons{
    display: flex;
    align-items: flex-end;
    font-size: 25px;
     }

     .line{
        border-bottom: 2px solid #ccc;
        display:block;
     }
     


.input-icons i {
            position: absolute;
        }
        
        .input-icons {
            width: 100%;
            margin-bottom: 10px;
        }
          
        .icon {
            padding: 10px;
            min-width: 40px;
        }
          
        .input-field {
            width: 100%;
            padding: 10px;
            
            text-align:center;;
       
}
section #h-1 {
    width: 50rem;
}

.footerCopy { 
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
} 


.footerinfo { 
    display:flex;
    width:100%;
    flex-direction: column;
    /* justify-content: center;
    columns: 4; */
}


/* .divicusine1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
} */

.footerContainer {
    display: flex;
}

.contactus a{ 
    color: orange;
    text-decoration: none;
}